ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

.header-links {
    display: flex;
    justify-content: space-between;
}